{% extends "layout.html" %}

{% block title %}
    Add New Place
{% endblock %}

{% block main %}

    {% if message == 0 %}
        <div class="alert alert-danger" role="alert">
          TODO
        </div>
    {% endif %}


    <form action="/add" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="title" placeholder="Title" type="text">
        </div>
        <div>
            <select name="destination" list="destinations" placeholder="Destination" required>
                <option value="CUN - Cancun">CUN - Cancun</option>
                <option value="CMB - Colombo">CMB - Colombo</option>
                <option value="CPT - Cape Town">CPT - Cape Town</option>
                <option value="DEN - Denver">DEN - Denver</option>
                <option value="EZE - Buenos Aires">EZE - Buenos Aires</option>
                <option value="GIG - Rio De Janeiro">GIG - Rio De Janeiro</option>
                <option value="HAV - Havana">HAV - Havana</option>
                <option value="HKT - Phuket">HKT - Phuket</option>
                <option value="MLE - Male">MLE - Male</option>
                <option value="PUJ - Punta Cana">PUJ - Punta Cana</option>
                <option value="TPA - Tampa">TPA - Tampa</option>
                <option value="SAN - San Diego">SAN - San Diego</option>
                <option value="SEZ - Seychelles">SEZ - Seychelles</option>
                <option value="SGN - Hoh Chi Minh">SGN - Hoh Chi Minh</option>
                <option value="SJO - San Jose">SJO - San Jose</option>
                <option value="YVR - Vancouver">YVR - Vancouver</option>
                <option value="YYC - Calgary">YYC - Calgary</option>
                <option value="ZRH - Zurich">ZRH - Zurich</option>
            </select>
        </div>
        <div>
                <input name="public" type="radio" value="True"> Public
                <input name="public" type="radio" value="False"> Private
        </div>

        <div class="form-group">
            <input class="form-control" name="url" placeholder="url" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="description" placeholder="Description" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}
</option>