{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

      <div class="destinations">
            <div>CMB</div>
            <div>CPT</div>
            <div>DEN</div>
            <div>EZE</div>
            <div>GIG</div>
            <div>HAV</div>
            <div>HKT</div>
            <div>MLE</div>
            <div>PUJ</div>
            <div>TPA</div>
            <div>SAN</div>
            <div>SEZ</div>
            <div>SGN</div>
            <div>SJO</div> 
            <div>YVR</div>
            <div>YYC</div>
            <div>ZRH</div>
        </div>
    
{% endblock %}