{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    {% if warning == 0 %}
        <div class="alert alert-danger" role="alert">
          You must provide a name.
        </div>
    {% endif %}
    {% if warning == 1 %}
        <div class="alert alert-danger" role="alert">
          Passwords do not match. Please try again.
        </div>
    {% endif %}
    {% if warning == 2 %}
        <div class="alert alert-danger" role="alert">
          The email address already exists. Please <a href="/login">login</a>.
        </div>
    {% endif %}
    {% if warning == 3 %}
        <div class="alert alert-danger" role="alert">
          Password field may not be empty.
        </div>
    {% endif %}
    {% if warning == 4 %}
        <div class="alert alert-danger" role="alert">
          You must provide an email address.
        </div>
    {% endif %}

    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="nickname" placeholder="Name" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="email" placeholder="Email Address" type="email">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confPassword" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
